/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rcw-open-launcher,
.rcw-close-launcher {
  margin: auto;
}

.rcw-sender {
  min-height: 105px;
  max-height: 110px;
}
