/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rcw-open-launcher,
.rcw-close-launcher {
  margin: auto;
}

.rcw-sender {
  min-height: 105px;
  max-height: 110px;
}
.rcw-conversation-container {
  height: 600px;
}
@media screen and (max-width: 800px) {
  .rcw-widget-container {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .rcw-conversation-container {
    height: 100%;
  }
}